@media only screen and (max-width: 600px){
    #howToHead div{
        width:400px;
    }
    #howToHead{
        height:350px;
    }
}

@media only screen and (max-width: 375px){
  #display img{
    width: 80vw;
  }
    #aboutUsHead div{
        width:80vw;
        line-height: 90%;
        margin-left: 50px;
    }
    #aboutUsHead{
        height: 350px;
    }
}


body{
  margin:0;
  /*background-color: #9EBC51;*/
}

.bgDisp{
  width:100vw;
  height:100vh;
  max-width:100%;
  background-image: url("../img/beans.jpg");
  background-size:cover;
  background-attachment: fixed;
}

#display{

}
#logoV{
  width: 300px;
  height: auto;
  position:absolute;
  left:0;
  right:0;
  top:-500px;
  bottom:0;
  margin: auto;
  padding: 400px 10px 25px 10px;
  background-color:rgba(255,255,255,0.5);
  background-origin: border-box;
}

#aboutUsHead{
  background-color:rgba(239,204,122,1);
  width:100%;
  height: 250px;
}
#main{
  position:relative;
  left:0;
  right:0;
  margin:auto;
  width:100vw;
  height:400px;
  max-width:100%;
  background-image: url("../img/cereal.jpg");
  background-size:cover;
  background-attachment: fixed;
}
#aboutUsBox{
    background-color:rgba(255,255,255,0.5);
    font-family: 'Mukta Mahee', sans-serif;
    font-size:14pt;
    text-align: center;
    position:absolute;
    left:0;
    right:0;
    top:0;
    margin: auto;
    width: 70vw;
    height: 60%;
    padding: 25px;
}
#howToHead{
    background-color:rgba(239,204,122,1);
  width:100%;
  height: 250px;
}
#main2{
    position:relative;
  left:0;
  right:0;
  margin:auto;
  width:100vw;
  height:400px;
  max-width:100%;
  background-image: url("../img/bedfood.jpg");
  background-size:cover;
  background-attachment: fixed;
}
#howToBox{
  background-color:rgba(255,255,255,0.5);
    font-family: 'Mukta Mahee', sans-serif;
    font-size:14pt;
    text-align: center;
    position:absolute;
    left:0;
    right:0;
    top:0;
    margin: auto;
    width: 70vw;
    height: 60%;
    padding: 25px;
}
#htTitle{
    width:585px;
    height:auto;
    font-size: 60pt;
    position:relative;
    left:0;
    right:0;
    top:50px;
    bottom:0;
    margin:auto;
    font-family: 'Oswald', sans-serif;
}
#foot{
  width:100%;
  height: 100px;
  background-color:grey;
  position:relative;
  left:0;
  right:0;
  margin:auto;
    text-align: center;
}
.footNav1{
    position:absolute;
    left:0;
    right:0;
    bottom:50px;
    margin:auto;
}
#subHead{
    width:380px;
    height:auto;
  font-size: 60pt;
    position:relative;
    left:0;
    right:0;
    top:50px;
    bottom:0;
    margin:auto;
    font-family: 'Oswald', sans-serif;
}

/*  Buttons  */
.buttonNav{
  height: 50px;
  width: 200px;
  font-size: 15pt;
  margin-top: 10px;
  border-color: black;
  border-radius: 8px;
	border-width: medium;
  background-color: #FFB71B;
	font-family: 'Mukta Mahee', sans-serif;
}

.buttonNav:hover{
  background-color: #EA0029;
	color: white;
	transition: 0.25s;
  cursor: pointer;
  box-shadow: 5px 8px 7px #696969;
}

#controls{
  height: 200px;
  width: 190px;
  position: absolute;
  left:0;
  right:0;
  top:600px;
  margin: auto;
}
/* footer*/
#NavFooter {
  padding-top: 90px;
  padding-bottom: 5%;
  background-color:#6c6b6a;
    text-align: center;
  text-decoration-line: none;
}
.footerNav {
  width: 100%;
  font-family: 'Mukta Mahee', sans-serif;
  text-decoration-line: none;
  color: white;
  padding-left: 6%;
  padding-right:6%;
}
